/* Set gradient here */


canvas {
    display:block; /* remove scrollbars */
    position: absolute;  /* position at top left corner for overlay */
    left: 0;
    top: 0;
}

h1 {
    color: #505050;
    font-family: 'Helvetica Neue', sans-serif;
}

h2 {
    color: #111;
    font-family: 'Open Sans',sans-serif;
}

p {
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
}
